<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品列表</title>
</head>
<body>
    <div class="goodslist">
        <ul>
            <% data.forEach(item=>{ %>
                <li data-id="<%=item.goods_id%>">
                    <img src="<%=item.img_url%>" />
                    <h4><%=item.goods_name%></h4>
                    <p class="price">
                        <del><%=item.price%></del>
                        <span><%=item.sales_price%></span>
                    </p>
                </li>
            <% }) %>
        </ul>
    </div>
    <script>
        const goodslist = document.querySelector('.goodslist')
        goodslist.onclick = function(e){
            if(['IMG','H4'].includes(e.target.tagName)){
                const {id} = e.target.parentNode.dataset
                location.href="/render/goods/"+id
            }
        }
    </script>
</body>
</html>